package pointer

import (
	"testing"
)

func Test{{.FuncName}}(t *testing.T) {
	tests := []{{.Type}}{
		{{range .TestData}}{{.}}, {{- end}}
	}
	for _, v := range tests {
		var p *{{.Type}} = {{.FuncName}}(v)
		if p == nil {
			t.Errorf("{{.FuncName}}(%v) = nil; want %v", v, v)
		}
		if n := {{.FuncName}}Value(p); n != v {
			t.Errorf("{{.FuncName}}(%v) = %v; want %v", v, n, v)
		}
	}
}

func Test{{.FuncName}}Slice(t *testing.T) {
	data := []{{.Type}}{
		{{range .TestData}}{{.}}, {{- end}}
	}
	a := {{.FuncName}}Slice(data...)
	if len(a) != len(data) {
		t.Errorf("len(slice) = %d; want %d", len(a), len(data))
		return
	}
	for i, p := range a {
		v := data[i]
		switch {
		case p == nil:
			t.Errorf("{{.FuncName}}Slice(%v)[%d] = nil; want %v", data, i, v)
		case *p != v:
			t.Errorf("{{.FuncName}}Slice(%v)[%d] = %v; want %v", data, i, *p, v)
		}
	}
}

func Test{{.FuncName}}Value_Nil(t *testing.T) {
	var zero {{.Type}}
	v := {{.FuncName}}Value(nil)
	if v != zero {
		t.Errorf("{{.FuncName}}Value(nil) = %v; want %v", v, zero)
	}
}
